.horVerSlider {
  float: left;
  display: block;
  position:relative;
}


.horizon-wrapper {
    padding: 0;
    float: left;
    position: relative;
    margin-left: 10px;
}

.vertical-wrapper {
  float: left;
  display: block;
  position: relative;
}







#vertical-slider {
    width: 395px;
    height: 450px;
    float: left;
    overflow: hidden;
    position: relative;
    float: right;
    display: block;
}

#vertical-slider ul {
  width: 400px;
  height: 100%;
  margin: 0;
  padding: 0;
  flex-flow: row;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}

#vertical-slider:before {
    height: 15px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: green;
    z-index: 1000;
}

#vertical-slider ul li {
  width: 399px;
  height: 70px;
  float: left;
  display: inline;
  text-align: center;
  overflow: hidden;
  margin: 15px 0;
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  position:relative;
  cursor:pointer;
  background-position:center;
  padding-top: 10px;
}

#vertical-slider ul li.video:before {
    content: "";
    background: url(/Content/images/play-btn.svg) no-repeat center;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 100;
    background-size: 30px;
    left: 0;
    top: 0;
}

    #vertical-slider ul li.active {
      
    }

#horizon-slider.zoomin ul li.video {
    cursor: pointer;
}


#vertical-slider ul li img {
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#vertical-slider ul li button{
  width: 80%;
  height: 80%;
  text-align: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  font-size: 24px;
  background: rgb(147,249,185);
background: linear-gradient(0deg, rgba(26,146,71,1) 11%, rgba(29,151,108,1) 100%);
  color:darkgreen;
  border: none;
}

#vertical-slider ul li button a{
  color: white;
  text-decoration: none;
}
#vertical-slider ul li iframe {
  width: 50%;
  height: 100px;
}

.horizone-nav {
  width: 400px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -65px;
  right: 0;
  margin: auto;
  height: 0;
  z-index:9999;
}

.horizone-nav .prev {
  float: top;
  width: 23px;
  height: 20px;
  position: relative;
  margin-left: 250px;
  margin-top: 15px;
  cursor: pointer;
  transform: rotate(90deg);
}

.horizone-nav .next {
  float: right;
  width: 23px;
  height: 20px;
  position: absolute;
  margin-top: 410px;
  margin-left: 250px;
  cursor: pointer;
  transform: rotate(-270deg);
}

.horizone-nav .prev .left {
  position: absolute;
  z-index: 7;
  cursor: pointer;
}

.horizone-nav .next .right {
  position: absolute;
  top: 12px;
  right: 15px;
  z-index: 7;
  cursor: pointer;
}

.vertical-nav {
  width: 17px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 560px;
}

.vertical-nav .top {
  width: 17px;
  height: 14px;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
}

.vertical-nav .bottom {
  width: 17px;
  height: 14px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.vertical-nav .top .up {
  margin-left: 3px;
  cursor: pointer;
}

.vertical-nav .bottom .down {
  margin-left: 3px;
  cursor: pointer;
}

.horVerSlider i {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
}

.horVerSlider .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 2px 2px 0;
}

.horVerSlider .left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  border-width: 0 2px 2px 0;
}

.horVerSlider .up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  padding: 4px;
}

.horVerSlider .down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  padding: 4px;
}





.horVerSlider.fullscreen #vertical-slider:before {
    background: green;
}
