*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.top-box{
    margin:2px; 
    width: 100%;
     height: 250px; 
     background-color: teal;
}

.bottom-box{
    width: 100%;
    display: flex;
}

.lower-left{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    background-color: teal;
    margin: 2px 7px;
}

#top{
    width: 100%;
    padding: 2px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#top .top-left{
margin: 10px;
padding: 5px;
    display: flex;
    flex-direction: column;
}
#top .top-left  .product-item-name{
    color: teal;
   font-size: 3rem;
   font-weight: 800;
}
#top .top-left h3{
    color: teal;
    font-size: 1.5rem;
    font-weight: 500;
}
#top .top-left h5{
    color: teal;
    font-size: 1.5rem;
    font-weight: 500;
}
#top .top-left .product-number{
    font-weight: 600;
}
#top .top-right{
    display: flex;
    margin: 10px;
    padding: 5px;

}
#top .top-right h2{
    color: teal;
    font-size: 1.5rem;
}

#top .top-right select{
    background-color: teal;
    margin: 10px;
    padding: 5px;
    width: 200px;
    height: 30px;
    border-radius: 20px;
    outline: none;
    border: none;
    color: #fff;
    font-size: 1rem;
    text-align: center;
}
#top option{
    color: #fff;
}

.middle {
	position: relative;
	width: 50%;
	max-width: 250px;
}

.slider {
	position: relative;
	z-index: 1;
	height: 5px;
	margin: 0 15px;
}
.slider > .track {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #c6aee7;
}
.slider > .range {
	position: absolute;
	z-index: 2;
	left: 25%;
	right: 25%;
	top: 0;
	bottom: 0;
	border-radius: 5px;
	background-color: #fff;
}
.slider > .thumb {
	position: absolute;
	z-index: 3;
	width: 20px;
	height: 20px;
	background-color:#fff;
	border-radius: 50%;
	box-shadow: 0 0 0 0 rgba(98,0,238,.1);
	transition: box-shadow .3s ease-in-out;
}
.slider > .thumb.left {
	left: 25%;
	transform: translate(-15px, -10px);
}
.slider > .thumb.right {
	right: 25%;
	transform: translate(15px, -10px);
}
.slider > .thumb.hover {
	box-shadow: 0 0 0 10px rgba(98,0,238,.1);
}
.slider > .thumb.active {
	box-shadow: 0 0 0 10px rgba(98,0,238,.2);
}

input[type=range] {
	position: absolute;
	pointer-events: none;
	-webkit-appearance: none;
	z-index: 2;
	height: 10px;
	width: 100%;
	opacity: 0;
}
input[type=range]::-webkit-slider-thumb {
	pointer-events: all;
	width: 10px;
	height: 10px;
	border-radius: 0;
	border: 0 none;
	background-color: red;
	-webkit-appearance: none;
}

/*bottom*/
#bottom{
    display: flex;
    padding: 5px;
    margin: 2px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 30px;
}

#bottom .left-boxes{
    display: flex;
    flex-direction: column;
    background-color: teal;
    padding: 5px;
    margin: 7.5px;
    border-radius: 10px;
    align-items: flex-start;
    justify-content: flex-start;
}

#bottom .title{
    text-align: left;
    color: #fff;
    padding: 5px;
    margin: 10px 15px;
    font-size: 1.3rem;
}

#bottom .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px;
    margin: 5px;
}

#bottom .price-indicator{
    color: #fff;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

#bottom .checkboxes{
    
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    padding: 5px;
   
}

#bottom .checkbox{
   margin: 5px 10px;
   padding: 2px;
   
}

#bottom #check{
  margin: 1px;
  border: 1px solid #fff;
 
}


#bottom label{
    color: #fff;
}

#bottom .bottom-right{
    display: flex;
    flex-wrap: wrap;
    margin: 5px 10px;
    padding: 2px;
    align-items: center;
    justify-content: center;
    
}

#bottom .bottom-right .product{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2px 10px;
    padding: 1px 10px;
}

#bottom .bottom-right img{
    margin-top: 2px;
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

#bottom .p-name {
    text-transform: uppercase;
    margin-top: 2px;
    text-align: center;
    font-size: 1.5rem;
    color: teal;
    font-weight: 600;
}

#bottom .p-price {
    margin-top: 2px;
    text-align: center;
    font-size: 1.5rem;
    color: teal;
    font-weight: 600;
}

#bottom .buy-btn{
   /* margin-top: 2px;
    text-align: center;
    width: 100px;
    height: 40px;
    border: 2px solid teal;
    background-color: transparent;
    border-radius: 4px;
    color: teal;*/

    width: 60px;
    height: 40px;
    border: 2px solid teal;
    background-color: transparent;
    border-radius: 4px;
    color: teal;
    margin: 5px 15px;
}

#bottom .buy-btn:hover{
    background-color: teal;
    color: #fff;
    cursor: pointer;
}

#pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.fi-and-so{
    display: none;
}

#bottom .XBtn{
    display: none;
}

#bottom .top-right-left-boxes{
    display: none;
}

@media only screen and (max-width:720px){
   .top-right h2{
       display: none;
   }
  
    .bottom-left{
       display: none;
       width: 100%;
        flex-direction: column;
        margin: 2px auto;
        padding: 1px;
        justify-content: center;
        align-items: center;
       border: 2px solid teal;
        border-radius: 10px;
    }

    #bottom .left-boxes{
        display: flex;
        width: 400px;
        flex-direction: column;
       background-color: teal;
        padding: 5px;
        margin: 2px;
        border-radius: 10px;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .bottom-right{
        display: flex;
        flex-direction: column;
        margin: 2px auto;
        padding: 1px;
        justify-content: center;
        align-items: center;
       
    }

    #bottom .bottom-right .product{
        display: flex;
        flex-direction: column;
        width: 120%;
        justify-content: center;
        align-items: center;
        margin: 2px auto;
        padding: 2px auto;
    }
    .fi-and-so{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #filterBtn{
        margin: 1px; 
        width: 85%;
         justify-content: center; 
         align-items: center;
        text-align: center;
        font-size: 1.8rem;
        color: teal;
        border: 2px solid teal;
        padding: 1px;
        position: sticky;
        position: cursor;
        border-radius: 5px;
    }




    #filterBtn:hover{
        color: #fff;
        background-color: teal;
    }

    .bottom-left-display{
        left: 0;
        display: flex;
        flex-direction: column;
        opacity: 1;
    }

    .XBtn{
        border: 2px solid teal;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 3px;
        text-align: center;
        font-size: 1.5rem;
        cursor: pointer;
        color: teal;
    }

    .XBtn:hover{
        background-color: teal;
        color: #fff;
    }
}