*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;  
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
a{
    text-decoration: none;
    
}

a:hover{
    cursor: pointer;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.section-title{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    color:black;
}

.section-title span{
    color: yellowgreen;
}

h1{
    margin-bottom: 30px;
    font-weight: 700;
    font-size:xx-large;
}

/*header-section*/

#header .header{
    max-width: 100%;
    margin: 0;
    padding: 0;
   /* background-color: grey;*/
    display: flex;
    flex-direction: column;
}

#header .container{
    min-height: 15vh;
    align-items: flex-start;
    justify-content: flex-start;
}

#header .top-bar{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(241, 236, 236);
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

#header .top-bar-item{
    margin: 10px;
    padding: 2px;
    display: flex;
}

#header .icon{
    margin: 0 5px;
}

#header .icon i{
    color: teal;
}
#header .icon-content{
    margin: 0 5px;
}

#header .icon-content h6{
    color: teal;
    font-weight: normal;
}
/*
#header .bottom-bar{
    overflow: hidden;
    margin: 0px;
    padding: 5px;
    width: 100%;
    flex-basis: 65%;
   background-color:rgb(196, 250, 196);
    display: flex;
    align-items:center;
    justify-content: center;
}


#header .search-bar{
    flex-basis: 40%;
    display: flex;
    margin: 5px;
    padding: 5px;
    border: olive 2px solid;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 0px olive;
    background-color: #fff;

}

#header .search-bar i{
    margin: 5px;
    padding: 5px;
    color: teal;
}

#header .search-bar-input{
    margin: 1px 2px;
    padding: 1px 1px;
    border: none;
    width: 90vh;
}

#header input:focus{
    outline: none;
}

#header .text{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    padding: 15px;
    margin: 5px;
    align-items: center;
    justify-content: center;
}

#header .text h4{
    color: teal;
    font-weight: normal;
}

#header .icons{
    display: flex;
    flex-basis: 10%;
    margin: 5px;
    padding:5px;
}
#header .icons i{
    margin: 15px;
    padding: 0px;
    color: teal;
    font-size:25px;
    
}



/*end-of-header-section*/
/*banner*/
.carousel-inner img{
	height:350px;
}
/*feature section*/

#featured .section-title{
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
    color:black;
}

#featured .section-title span{
    color: yellowgreen;
}

#featured .featured{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

#featured .featured-header h1{
    margin-bottom: 30px;
    font-weight: 700;
    font-size:xx-large;
}

#featured .all-features{
    display: flex;
}

#featured .collection{
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#featured .feature-top{
    display: flex;
}

#featured .feature-bottom{
    display: flex;
    flex-direction: row-reverse;
}

#featured .feature-left{
    display: flex;
    flex-basis: 55%;
}

#featured .feature-right{
    display: flex;
    flex-basis: 45%;
}

#featured .feature-item{
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px olive;
    height: 300px;
    position: relative;
    align-items: center;
    justify-content: center;
    
}

#featured .feature-item:hover{
    box-shadow:  0px 0px 20px 0px olive;
}


#featured .feature-name{
    position: absolute;
    width: 100%;
    padding: 30px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.4);
    color:#fff;
    bottom: 0;
    left: 0;
    top: 0;
    transition: 1s ease transform;
    display: none;
    text-align: center;
    align-items: center;
    justify-content: center;
    z-index: 200;
}

#featured .feature-item:hover{
    cursor: pointer;
}

#featured .feature-item:hover .feature-name {
    display: block;
    transform: scale(1.5);
  }

#featured .feature-name h2{
    position: absolute;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transition: 3s ease transform;
}

#featured .feature-img{
    display: block;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    transition: transform 1s ease;
}



#featured .feature-item:hover .feature-img {
    transform: scale(1.2);
    
   
}

/*end of feature section*/

/*recommendation*/
#rec{
	width:98px;
	height:90px;
	position: relative;
	left: 0;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 0px;
}

/*gifts-section*/

#gifts{
    margin-top: 100px;
}

#gifts .gifts{
    flex-direction: column;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

#gifts .all-gifts{
    display: flex;
    justify-content: center;
    align-items: center;
}

#gifts .middle{
    display: flex;
    flex-direction: column;
    flex-basis: 37%;
    margin: 10px;
}

#gifts .left{
    display: flex;
    flex-basis: 27%;
    margin: 10px;
}

#gifts .right{
    display: flex;
    flex-basis: 27%;
    margin: 10px;

}

#gifts .top{
    display: flex;
    flex-basis: 45%;
}

#gifts .bottom{
    display: flex;
    flex-basis: 45%;
}

#gifts .gift-item{
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 0px olive;
    position: relative;
    align-items: center;
    justify-content: center;
}

#gifts .gift-content{
    padding: 10px;
    margin-top: 0;
    flex-basis:  20%;
    background-image: linear-gradient(60deg, #29323c 0%,#485563 100%);
    color: white;
}


#gifts .gift-content h3{
    font-weight: 500;
    text-align: center;
}

#gifts .gift-img{
    flex-basis: 80%;
    overflow: hidden;
    z-index: 0;
    position: relative;
    opacity: 1;
}

#gifts .left .gift-img{
    height: 400px;
}

#gifts .right .gift-img{
    height: 400px;
}

#gifts .middle .gift-img{
    height:250px;
}

#gifts .gift-img img{
    transition: 0.3s ease transform;
}
#gifts .gift-img img:hover{
    transform: scale(1.1);
    opacity: 0.8;

}

#gifts .gift-item:hover{
    box-shadow: 0px 0px 10px 0px olive;
}

/*end-of-gifts-section*/

/*vision section*/

#vision .vision{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    /*background-color: blue;*/
}

#vision .container{
    align-items: center;
    justify-content:safe;
}

#vision .all-visions{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   /* background-color:grey;*/
}

#vision .vision-item{
    height: 275px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 15%;
    box-shadow: 0px 0px 5px 0px olive;
    position: relative;
    align-items: center;
    justify-content: center;
    /*background-color: yellow;*/
    flex-basis: 20%;
    
}

#vision .icon{ 
    margin: 10px;
    padding: 10px;
   /* background-color: indigo;*/
    flex-basis: 70%; 
    border-radius: 50%; 
}

#vision .icon-content{
    display: flex;
    flex-basis: 20%;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}

#vision .icon img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

#vision .vision-description{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: olive;*/
}

#vision .description{
    margin: 20px;
    padding: 20px;
  /*  background-color: olivedrab;*/
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
}

#vision .description h5{
    color:teal;
    margin: 15px;
    padding: 15px;
}
#vision .para{
   /* background-color: yellow;*/
    margin: 2px;
    flex-basis: 70%;
    box-shadow: 0px 0px 5px 0px olive;
    transition: 0.3s ease transform;
    transform: scale(0.98);
}

#vision .para:hover{
    /* background-color: yellow;*/
     transform: scale(1);
 }

#vision .social-icons{
    display: flex;
}

#vision .social-item{
    margin: 0 15px;
    padding: 15px;
    flex-basis: 20%;
}

#vision .social-item img{
    overflow: hidden;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.3s ease filter transform;
}

#vision .social-item:hover img{
    filter: grayscale(0);
    transform: scale(1.1);
}
#vision .join-us{
    margin: 10px;
    padding: 10px;
   /* background-color: yellow;*/
    flex-basis: 30%;
    box-shadow: 0px 0px 5px 0px olive;
    display: flex;
    flex-direction: column;
    transition: 0.3s ease transform;
    transform: scale(1);
    
}
#vision .join-us:hover{
    transform: scale(1.04);
}
#vision .join-us-form{
   /* background-color: pink;*/
    align-items: center;
    justify-content: center;
    display: flex;
    margin: 5px;
    padding: 5px;
}

#vision .join-us-content{
    margin: 5px;
    padding: 5px;
}

#vision .join-us-content h6{
    color: teal;
}

#vision .email{
    margin: 5px;
    margin-left: 0;
    padding: 5px;
    padding-left: 0;
    flex-basis: 50%;
}

#vision .email input{
    width: 100%;
    height: 35px;
     margin-right: 1rem;
    padding: 0 1rem 0 1rem;
    border: .1rem solid #ddd;
    border-radius: .5rem;
    background-color: #fff;
    transition: background-color 0.3s;
}

#vision .email input:focus{
    background-color: #dfd9d9;
    outline: none;
}

#vision .recaptcha{
    display: flex;
    margin: 5px;
    padding: 5px;
    flex-basis: 30%;
}
#vision .recaptcha input{
    flex-basis: 25%;
}

#vision .recaptcha label{
    flex-basis: 70%;
}

#vision .recaptcha label h6{
    color: teal;
}

#vision .button{
    margin: 5px;
    padding: 5px;
    flex-basis: 30%;
}

#vision .btn{
    margin: 5px;
    padding: 5px;
    display: inline-block;
    color: olive;
    background-color:transparent;
    border: 2px solid olive;
    text-transform: uppercase;
    transition: .3s ease;
    transition-property: background-color,color;
}

#vision .btn:hover{
    color: white;
    background-color: olive;

}

#vision .vision-image{
    padding: 5px;
    flex-basis: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px 0px olive;
    transition: 0.3s ease transform;
}

#vision .vision-image:hover{
    transform: scale(1.04);
}


/*end-of-vision-section*/

/*testimonials*/
#testimonials .testimonial{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
   /* background-color: blue;*/
}
/*
#testimonials .section-title{
    background-color: pink;
}*/

#testimonials .testimonial-items{
   /* background-color: pink;*/
    margin: 5px;
    margin-top: 50px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px olive;
    position: relative;
}

#testimonials .mySlides {
    display: none;
    
  }

#testimonials .testimonial-item{
   /* background-color: cornflowerblue;*/
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    margin: 30px;
    padding: 30px;
    flex-basis: 30%;
    box-shadow: 0px 0px 10px 0px olive;
    transition: 0.3s ease transform;
    background-color: papayawhip;
}

#testimonials .testimonial-item:hover{
    transform: scale(1.1);
    background-color: palegoldenrod;
}

 #testimonials .arrows{
     margin: 5px;
     padding: 5px;
     user-select: none;
 }

 #testimonials .arrows a{
    cursor: pointer;

}

#testimonials .arrows a:hover h1{
    transform: scale(1.1)
}
 
  

#testimonials .icons{
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
}

#testimonials .icon{
    flex-basis: 20%;
    margin: 2px;
    padding: 2px;
}


#testimonials .testimonial-content{
    display: flex;
    align-items: center;
    margin: 15px;
    padding: 15px;
}

#testimonials .testimonial-content h3{
    color: teal;
    text-align: center;
}

#testimonials .user{
    margin: 7.5px;
    padding: 7.5px;
}

#testimonials .user h4{
    color: olivedrab;
    text-align: right;
}

#testimonials .testimonial-footer{
    /*background-color:blue;*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#testimonials .circle{
   margin: 10px;
   padding: 7px;
   /* background-color: chartreuse;*/
    border-radius: 50%;
    border-color: black;
    flex-basis: 45%;
    box-shadow: 0px 0px 10px 0px olive;
    transition: 0.3s ease background-color;
}


#testimonials .circle:hover{
    background-color: olive;
}

#testimonials .circle h6{
    visibility: hidden;
    font-size: 0px;
}

#testimonials .active, .circle:hover {
    background-color: olive;
  }

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/*end-of-testimonials*/



/*footer*/

#footer{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

#footer .footer{
    min-height: 100px;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
}

#footer .footer-items{
    margin: 5px;
    padding: 5px;
    display: flex;
  /* background-color: indigo;*/
}

#footer .footer-item{
    margin: 40px;
    padding: 5px;
   /* background-color: yellow;*/
}

#footer .footer-item h4{
    color:wheat;
    display: block;
    padding: 5px;
    margin: 10px;
    text-align: left;
    text-transform: uppercase;
}

#footer .footer-item ul{
    display: block;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}

#footer .footer-item ul li{
    color:whitesmoke;
    display: block;
    margin: 0px;
    padding: 2px;
    text-decoration: none;
}

#footer li:hover{
    opacity: 0.5;

}


/*end-of-footer*/
